*
  box-sizing: border-box

html
  font-size: 14px

input[type=search]
  box-sizing: border-box

.ng-hide
  display: none

.app
  padding-top: 75px
  width: 90%
  margin: 0 auto


input[type=search]
  font-size: 2rem
  -webkit-appearance: none
  -moz-appearance: none
  border-radius: 2rem
  border: 1px solid #CCC
  color: #333
  padding: .25rem 1rem
  width: 100%
  outline: none

  &:focus
    border-color: orange

.found-statuses
  // @include span(1 of 1)

.datim-info,
.factsinfo-info
  // @include container()

  h2
    font-size: 1.2rem
    color: #333

  th, td
    padding: .2rem .4rem

  th
    line-height: 1.4rem
    vertical-align: top

  .odd :after
    // @include background-image(linear-gradient(left,  rgba(254,254,254,0) 0%,rgba(254,254,254,1) 100%))

  .even :after
    // @include background-image(linear-gradient(left,  rgba(244,244,244,0) 0%,rgba(244,244,244,1) 100%))

.factsinfo-info
  th, td
    position: relative
    white-space: nowrap

    &.longtext-field
      position: relative
      max-width: 15rem
      overflow: hidden

      &:after
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        width: 2rem
        bottom: 0

.factsinfo-data-table
  overflow-x: auto


.factsinfo-info
  tr
    border-bottom: 1px solid #CCC

.datim-info-blocks
  // @include container()
  display: flex
  flex-direction: row
  justify-content: space-between

  div
    // @include span(1 of 3)
    flex: 0 0 32%

  th, td
    padding: .25rem


table
  width: 100%

th
  text-align: left
  font-weight: normal
  color: #CCC
  font-size: .8rem

.even
  background-color: #F5F5F5

.odd
  background-color: #FEFEFE

.fa-check
  color: darkgreen

.fa-times
  color: darkred

h2, h3
  margin: 0

h2
  margin-top: 1rem

.finders
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 1.5rem

  & > div
    flex: 0 0 49%
    border: 1px solid #CCC
    border-radius: 0.2rem
    padding: .5rem
    text-align: center
    position: relative
    height: 3rem

    &:last-child
      // @include span(4 of 8 last)

    &.active
      background: #337ab7
      a
        color: white

  a
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    line-height: 3rem

    &:hover, &:active
      text-decoration: none

.partner-finder-select-boxes
  display: flex
  justify-content: space-between

  & > .ui-select-container
    flex: 1 1 100%

.found-mechanisms-table
  & > div
    box-shadow: 1px 1px 3px #999
    border-radius: .25rem
    margin-top: 1rem
    padding: .5rem
    border: 1px solid orange

    h3 a
      margin-left: 1rem
      color: #AAA
      font-size: .75em
      vertical-align: text-top

    &.active
      border: 1px solid green

      h3
        color: green

.mechanism-header
  display: flex
  flex-direction: row 
  justify-content: space-between
  margin: 1rem 0

  span
    font-weight: bold

.mechanism-legend
  li
    display: inline-block

    span.color-block
      display: inline-block
      width: 1rem
      height: 1rem
      border-radius: .25rem
      margin-right: .25rem

      &.active
        background: green

      &.inactive
        background: orange

.partner-box
  border: 1px solid #CCC
  padding: 1rem
  margin: 1rem 0
  border-radius: .25rem

.mechanism-title
  font-size: 1.25rem
  margin-right: 1rem
  font-weight: 500

.help-message
  padding: 1rem

#menuLinkArea
  max-width: 90% !important
  margin: 0 auto !important

  #profileLink
    margin-left: 0px !important

  #applicationsButton
    padding-right: 30px !important

    #applicationsLink
      margin-left: 0px !important
