<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Where is my mechanism</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dhis-web-commons/css/menu.css" />
</head>
<body ng-controller="WhereIsMyMechController as wimm">

    <d2-header-bar></d2-header-bar>

    <div class="app ng-cloak">
    <input name="myMechanismSearch" type="search" ng-model="wimm.myMechanismSearchString" ng-model-options="{debounce: 500}"
           placeholder="Search for mechanism in datim and the FACTS info synchronisation log">
    <div class="found-statuses ng-hide" ng-show="wimm.myMechanismSearchString.length">
        <p>
            Trying to find mechanism with mechanism code: <span ng-bind="wimm.datimMechanismCodeToSearch"></span>
        </p>
        <span><i class="fa fa-check" ng-class="{'fa-check': wimm.foundInDatim, 'fa-times': !wimm.foundInDatim}"></i>Found in DATIM</span>
        <span><i class="fa fa-check" ng-class="{'fa-check': wimm.foundInFactsInfo, 'fa-times': !wimm.foundInFactsInfo}"></i>Found in FACTS Info</span>
    </div>

    <div class="datim-info ng-hide" ng-show="wimm.foundInDatim">
        <h2>DATIM info</h2>
        <div class="datim-info-blocks">
            <div class="mechanism">
                <h3>Mechanism</h3>
                <table>
                    <tr class="odd"><th>Name</th><td ng-bind="wimm.datimInfo.mechanism.displayName"></td></tr>
                    <tr class="even"><th>Code</th><td ng-bind="wimm.datimInfo.mechanism.code"></td></tr>
                    <tr class="odd"><th>Country</th><td ng-bind="wimm.datimInfo.mechanism.organisationUnits[0].name"></td></tr>
                    <tr class="even"><th>Start</th><td ng-bind="wimm.datimInfo.mechanism.startDate | dhisDate"></td></tr>
                    <tr class="odd"><th>End</th><td ng-bind="wimm.datimInfo.mechanism.endDate | dhisDate"></td></tr>
                </table>
            </div>
            <div class="agency">
                <h3>Agency</h3>
                <table>
                    <tr class="odd"><th>Name</th><td ng-bind="wimm.datimInfo.agency.name"></td></tr>
                    <tr class="even"><th>Code</th><td ng-bind="wimm.datimInfo.agency.code"></td></tr>
                    <tr class="odd"><th>Created</th><td ng-bind="wimm.datimInfo.agency.created | dhisDate"></td></tr>
                </table>
            </div>
            <div class="partner">
                <h3>Partner</h3>
                <table>
                    <tr class="odd"><th>Name</th><td ng-bind="wimm.datimInfo.partner.name"></td></tr>
                    <tr class="even"><th>Code</th><td ng-bind="wimm.datimInfo.partner.code"></td></tr>
                    <tr class="odd"><th>Created</th><td ng-bind="wimm.datimInfo.partner.created | dhisDate"></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="factsinfo-info ng-hide" ng-show="wimm.foundInFactsInfo">
        <h2>FACTS Info to DATIM synchronisation logs</h2>
        <div class="factsinfo-data-table">
            <table class="ng-hide" ng-show="wimm.resultList.length">
                <thead>
                <tr>
                    <th ng-repeat="header in wimm.headers" ng-bind="::header"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="line in wimm.resultList track by $index"
                    ng-class-odd="'odd'"
                    ng-class-even="'even'">
                    <td ng-repeat="value in line track by $index" ng-class="{'longtext-field': $index === 6 || $index === 7 || $index === 8}" ng-click="wimm.setSearchString(value)" title="{{value}}">
                        <span ng-show="!$last" ng-bind="value"></span>
                        <span ng-show="$last"><i class="fa" ng-class="{'fa-check': value === 1, 'fa-times': value === 0}"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script>
        window.jQuery ? true : document.write('<script src="jquery.js"><\/script>');

        if (!window.dhis2) { window.dhis2 = {}; }
        if (!window.dhis2.settings) { window.dhis2.settings = {}; }
        window.dhis2.settings.baseUrl = '/';
    </script>

    <script src="/dhis-web-commons/javascripts/dhis2/dhis2.translate.js"></script>
    <script src="/dhis-web-commons/javascripts/dhis2/dhis2.menu.js"></script>
    <script src="whereismymech.js"></script>
</body>
